name: build and publish container

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'master'

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  release-container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Install ko 
        uses: imjasonh/setup-ko@v0.4
      
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: cs-mikrotik-bouncer
          sep-tags: ","
          sep-labels: ","
          tags: |
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}

      
      - name: Build and Push to GHCR with ko
        env:
          KO_DOCKER_REPO: ghcr.io/tuxtof
          TAGS: ${{ steps.meta.outputs.tags }}
          LABELS: ${{ steps.meta.outputs.labels }}
          PLATFORMS: linux/amd64,linux/arm64,linux/arm
        run: |
          PTAGS=`echo $TAGS | sed 's/cs-mikrotik-bouncer://g'`
          export SOURCE_DATE_EPOCH=$(date +%s)
          ko build -B --image-label "$LABELS" -t "$PTAGS" --platform=$PLATFORMS .

      - name: Build and Push to GitHub with ko
        env:
          KO_DOCKER_REPO: tuxtof
          TAGS: ${{ steps.meta.outputs.tags }}
          LABELS: ${{ steps.meta.outputs.labels }}
          PLATFORMS: linux/amd64,linux/arm64,linux/arm
        run: |
          PTAGS=`echo $TAGS | sed 's/cs-mikrotik-bouncer://g'`
          export SOURCE_DATE_EPOCH=$(date +%s)
          ko build -B --image-label "$LABELS" -t "$PTAGS" --platform=$PLATFORMS .
